abbr {border-bottom: 1px dotted #000; cursor: default;}
a { color: #000000; }
body {
	margin-top: 1.0em;
	background-color: #ffffff;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
}
img.colorpicker {
    cursor: pointer;
    border: 2px solid #000;
    height: 16px;
    vertical-align: bottom;
    width: 16px;
}
h1 { font-size: 3.8em; color: #000000; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #000000; }
h3 { text-align: center; color: #000000; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
pre { background: #333; color: #fff; padding: 15px;}
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
.footer { text-align:center; padding-top:30px; font-style: italic; }
#container {
	margin: 0 auto;
	width: 700px;
}